<%-include("partials/header")%>

<style>
nav.transparent {
    position: fixed !important;
    top: 0;
    background-color: #000000aa !important;
}

.soljumbo{
    background-image: url("solutionbackground.jpg");
    background-size: cover;
    height: 100vh;
}

.soljumbo .inner{
    padding-top: 30vh;
}

.solutions{
    display: inline-block;

}

.solutions .row{
    margin: 20vh 10vw 15vh  10vw;
}

.solutions .row .col{
    padding: 0 1vw !important;
}

.solutions .card-content{
    text-align: center;
    padding: 15vh 5vw;
    color: white;
}

.solutions .card-title{
    padding-bottom: 3vh;
}

.card{
    background-color: #00000090;
}

#col3 .background{
    background-image: url("site inspection 1.jpg");
}

#col5 .background{
    background-image: url("solutionswarm.jpeg");
    background-position: bottom;
}

#col4 .background{
    background-image: url("3.jpg");
}

#col1 .background{
    background-image: url("WhatsApp Image 2021-03-02 at 22.49.45.jpeg") ;
}

#col2 .background{
    background-image: url("satellitemap.png");
}

.col .background{
    transition:0.5s;
}

.solutions .col{
    overflow: hidden;
}

.col .background:hover{
    transform: scale(1.03);
}

@media only screen and (min-width: 600px){
    .inner .heading{
    font-size: 5vw;
    font-weight: 600;
    }

    .inner .para{
    margin-top:15vh ;
    font-size: 2vw;
    font-weight: 100;
}

.solutions .card-content{
    text-align: center;
    padding: 15vh 5vw;
    color: white;
}

.solutions #col5 .card-content{
    text-align: center;
    padding: 10vh 5vw;
    color: white;
}

}

@media only screen and (max-width: 600px){
    .inner .heading{
    font-size: 10vw;
    font-weight: 600;
    }

    .inner .para{
    margin-top:15vh ;
    font-size: 5vw;
    font-weight: 100;
}

.solutions .card-content{
    text-align: center;
    padding: 2vh 5vw;
    color: white;
}

}

</style>

<div class="soljumbo">
    <div class="inner container">
        <div class="heading" style="color: white; text-align: center;">Drone Solutions</div>
        <div class="para" style="color: white; text-align: center;">Controlled and consice solutions tailored to your personal needs</div>
    </div> 
</div> 

<div class="solutions">        
    <div class="row">
        <div class="col s12 m6 l6" id="col1">
            <div class="background">
                <div class="card large">
                <div class="card-content">
                    <div class="card-title">
                        Simultaneous Localization and Mapping</div>
                    <p>Stands for Simultaneous Localisation and Mapping. These are UAVs with the goal to provide a continual estimate of where the system is currently moving along with it’s posture within it’s environment. The UAVs being proficient in Indoor Navigation have a camera fitted on them that helps them in the navigation. This works on the phenomenon of marking the coordinates of the initial position in the start followed by taking the distance of consequent places from the initial position in account. Ultimately, this results in mapping of the whole area in 3 dimensional form.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6" id="col2">
            <div class="background">
                <div class="card large">
                <div class="card-content">
                    <div class="card-title">Surveying, Mapping and Surveillance</div>
                    <p>These are our 3 USPs and the plan is to continue evolving the existing technology in these fields. This would play a vital role in the betterment of the technology used in the Armed Forces of our country. The Military at present uses Drone Surveillance to gather intelligence and potentially would also be getting it’s hands on the 3 dimensional mapping done by drones to increase it’s efficiency.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6" id="col3">
            <div class="background">
                <div class="card large">
                <div class="card-content">
                    <div class="card-title" >Site Inspections</div>
                    <p>The UAV drones are to be used for remote site inspections to avoid too many people on the ground. They can capture data in difficult locations with high quality output and offer the advantage of quick and accurate documentation at low costs and with minimal time consumption and personnel. This can also help inspectors avoid having to place themselves in dangerous situations. Usage of UAVs for site inspections can thus reduce both time and man power significantly.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6" id="col4">
            <div class="background">
                <div class="card large">
                <div class="card-content">
                    <div class="card-title">Collaborative Robotic Tasks</div>
                    <p>This is also one of the most important future prospects the team plans to conquer. The term  refers to an arrangement of 2 or more systems which work together in such a manner that their abilities are complimented by each other. The team is currently also working on developing a Robotic Arm which would be mounted on an Unmanned Ground Vehicle (UGV) to revolutionize the field of agriculture by autonomously detecting and harvesting the crops and to deliver crop management interventions by automatically detecting the need. </p>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12 hide-on-small-only" id="col5">
            <div class="background">
                <div class="card small">
                <div class="card-content">
                    <div class="card-title">Swarm</div>
                    <p>A swarm of Unmanned Aerial Vehicles (UAVs) is a set of aerial drones that work together to achieve a specific goal. These are currently being used for Mapping and Surveillance of large areas. Swarms are being aimed to be used for Humanitarian Aid and Disaster Relief (HADR) in the near future. This would include fleet of swarms being lead to search for potential humans in need for help and eventually providing /them with payload releif packages of upto 1Kg. Equipping the swarm UAVs with GPS Denied Navigation and Dynamic Obstacle Avoidance with the usage of efficient algorithms is also a possibility in the future.  
                    </p>
                </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12 hide-on-med-and-up" id="col5">
            <div class="background">
                <div class="card large">
                <div class="card-content">
                    <div class="card-title">Swarm</div>
                    <p>A swarm of Unmanned Aerial Vehicles (UAVs) is a set of aerial drones that work together to achieve a specific goal. These are currently being used for Mapping and Surveillance of large areas. Swarms are being aimed to be used for Humanitarian Aid and Disaster Relief (HADR) in the near future. This would include fleet of swarms being lead to search for potential humans in need for help and eventually providing /them with payload releif packages of upto 1Kg. Equipping the swarm UAVs with GPS Denied Navigation and Dynamic Obstacle Avoidance with the usage of efficient algorithms is also a possibility in the future.  
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .letusknow{
        background-image: url("solutionbackground.jpg");
        background-size: cover;
        height:60vh;
        background-position: 0 30%;
        text-align: center;
    }

    .waves-effect{
        background-color: white;
        color: black;
    } 
    .waves-effect:hover{
        background-color: white;
    }

    @media only screen and (min-width: 600px){
        .formoresol1{
        font-size: 3vw;
        color: white;
        padding-bottom: 9vh;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        }

        .formoresol{
        padding-top: 7vh;
        font-size: 3vw;
        color: white;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        }
    }

    @media only screen and (max-width: 600px){
        .formoresol1{
        font-size: 6vw;
        color: white;
        padding-bottom: 9vh;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        }

        .formoresol{
        padding-top: 15vh;
        font-size: 6vw;
        color: white;
        font-family: 'M PLUS Rounded 1c', sans-serif;
        }

    }
</style>

<div class="letusknow">
    <div class="formoresol">For more solutions</div>
    <div class="formoresol1">Contact us</div>
    <a class="waves-effect waves-dark btn" href="/contact">Contact Us</a>
</div>

<%-include("partials/footer")%>