
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAS-DTU</title>
    <link href="/favicon-32x32.png" rel="shortcut icon" type="image/png">
    <link rel="stylesheet" href="/materialize/css/materialize.css">
    <script src="/jquery.min.js"></script>
    <script src="/materialize/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karma:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="/aos-master/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/fullPage.js-master/dist/fullpage.css">
    <script src="/fullPage.js-master/dist/fullpage.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MLB2SF9X00"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MLB2SF9X00');
</script>
</head>

<body>
  
<style>
  .loader{
    position:fixed;
    top:0;
    left:0;
    z-index: 99;
    width:100%;
    height: 100%;
    background-color: #ebebeb;
    text-align: center;
  }

#fp-nav{
  z-index: 80 !important;
}


@media only screen and (min-width: 600px){
.loader>img{
    width: 30vw;
    margin-top: 25vh;
    margin-right: 7vw;
  }
}

@media only screen and (max-width: 600px){
.loader>img{
    width: 60vw;
    margin-top: 25vh;
    margin-right: 7vw;
  }
}

.hidden{
animation:fadeOut 1s;
animation-fill-mode: forwards;
}

@keyframes fadeOut{
100%{
  opacity:0;
  visibility: hidden;
}
}

</style>
<div class="loader">
  <img src="/l.png" alt="">
  <div class="preloader-wrapper active" style="display: block; margin:2vh auto;">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<script>
  window.addEventListener("load",function(){
    const loader = document.querySelector(".loader");

    loader.className += " hidden";
  });
</script>



  <script>    
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems,{});
      });
    
    $(document).ready(function(){
      $('.collapsible').collapsible();
    });
  </script>
  
  <style>
    body {
      font-family: 'Nunito Sans', sans-serif !important; /* common font */
    }
    .main-wrapper{
      position: relative;
    }

    .menu-holder{
      position: fixed;
      z-index: 50;
    } 

    .sidenav-overlay{
      z-index: 0;
    }

    nav {
      color: white;
    }
    @media only screen and (min-width: 993px){
      nav a.sidenav-trigger {
      display: block;
      }
    }
    
    .sidenav {
      line-height: 1rem;
    }

    .sidenav li>a{
        color: white;
    }

    .sidenav li>a>i.material-icons{
      color: white;
    }


    ::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
   display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
       display: none;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: none;
  }

.nav-links a {
  font-family: 'Nunito Sans', sans-serif !important;
  /* text-shadow: 0 0 10px #000b; */
  font-size: 15px !important;
  padding: 22px 0 10px 0 !important;
  margin: 0 15px !important;
  line-height: 100%;
  text-transform: uppercase;
}
.nav-wrapper a:hover {
  background-color: transparent !important;
}

.un::after {
content: '';
width: 0px;
height: 1.5px;
display: block;
background: #fff;
margin-top: 4px;
transition: 300ms;
}

.un:hover::after {
width: 100%;
}
  
  </style>
  
  <div class="main-wrapper">
    <div class="menu-holder" style="width:100%" id="menu">
      <nav  class="transparent"  style="height: 4rem; box-shadow: none; background-color: #0004;"> 
          <!-- navbar content here  --> 
          <div class="nav-wrapper">
              <ul class="left">
                <li><a href="#" class=" sidenav-trigger" data-target="slide_out" style="padding-top: 0rem;"><i class="material-icons" style="font-size:1.5rem;  color: white;">menu</i></a></li>
              </ul>
              <ul>
                <li style="height: 5rem; width: 5rem;"><a href="/" style="height: 5rem; width: 7rem; transform: translate(0, 0.5rem);"><img src="/whitelogo3.png" alt="" style="margin-left: 0; height: 3rem;"></a></li>
              </ul>
              <ul class="hide-on-med-and-down right nav-links" style="padding-right: 12rem;">
                <li><a href="/solutions" class="un">Solutions</a></li>
                <li><a href="/systems" class="un">Hangar</a></li>
                <li><a href="/upcoming-projects" class="un">Upcoming Projects</a></li>
                <li><a href="/contact" class="un">Contact Us</a></li>
              </ul>
          </div>
      </nav>

      <ul class="sidenav #000000 black" style="color:#eeeeee;" id="slide_out">
        <!-- <li><a class="sidenav-close" href="#!"><i class="material-icons" style="font-size:2rem;">menu</i></a></li> -->
        <li><a href="/" style="width:100%; height: 100%;"><img src="/whitelogo2.png" alt="" style="transform:scale(2); width:100%; height: 100%; margin-top: 36px;"></a></li>
        <hr style="margin: 1rem 2.5rem 1rem 2rem;">
        <!-- <li><a href="/" class="active"><i class="material-icons">home</i> Home</a></li> -->
        <li><a href="/about-us"><i class="material-icons">info</i> About Us</a></li>
        <li><a href="/systems"><i class="material-icons">airplanemode_active</i> Hangar</a></li>
        <li>
          <ul class="collapsible" style="padding-left: 1rem;">
          <li>
            <div class="collapsible-header"><i class="material-icons" style="margin-right: 1.8rem;">group</i> <b>Team</b></div>
            <div class="collapsible-body"> 
              <ul  style="background: black; padding-left: 4rem;">
                  <li><a href="/mentors">Mentors</a></li>
                  <li><a href="/curr-members">Current Members</a></li>
                  <li><a href="/past-members">Past Members</a></li>
              </ul>
            </div>
          </li>
          </ul>
        </li>
        <li><a href="/achievements"><i class="material-icons">emoji_events</i> Achievements</a></li>
        <li><a href="/upcoming_events" class="active"><i class="material-icons">home</i> Upcoming Events</a></li>
        <li><a href="/upcoming-projects" class="active"><i class="material-icons">precision_manufacturing</i> Upcoming Projects</a></li>
        <li><a href="/solutions" class="active"><i class="material-icons">settings</i> Solutions</a></li>
        <li><a href="/contact"><i class="material-icons">email</i> Contact Us</a></li>
      </ul>
    </div>  


<style>   
    nav.transparent {
        position: fixed !important;
        top: 0;
        background-color: rgba(0,0,0,0.75) !important;
    }

    .ctn{
        display: flex;
        flex-direction: row;
    }

    .upcoming_events .col{
        padding:0 3.5vw;
    }

    .card-panel h5{
        font-size: 20px;
        color:  #000;
        font-family: 'Crete Round', serif;
        padding: 0 20px;
    }

    .card-panel p{
        color: #555;
        font-family: 'DM Sans', sans-serif;
        padding: 0 20px;
    }

    .card-panel {
        display: inline-block;
        padding: 0;
    }
    .main {
        background-image: url(texture.jpg); 
        background-size: cover; 
        background-attachment: fixed; 
        padding: 100px 0 40px 0;
    }

</style>
<%var count=0%>

<div class="main">
  <!-- Card Container -->
  <% projs.map(p => { %>
  <%if(count%3==0){%>  
  <div class="row card-container upcoming_events">
  <%}%>
  <div class="col l4 m4 s12">     
    <div class="card">
        <div class="card-image">
          <img src="/<%= p.img %>">
        </div>
        <div class="card-content">
            <div class="card-title"><%= p.name %></div>  
          <p><%= p.desc %></p>
        </div>
      </div>
    </div>
    <%if((count+1)%3==0){%>   
  </div>
  <%}%>
  <%count = count+1;%>
  <%})%>
</div>

<script>
    document.title = "Upcoming Projects • UAS-DTU";
</script>

<section id="footer">
<style>
    .logos a>i{
        padding-right: 0.4rem;
    }
    #contact .col{
        padding-right: 2rem;
        color:#cccccc;
    }
    #contact .map{
        text-align: left;
    }

    #contact .row{
        margin-bottom: 0;
    }
    .logos a{
         color:grey
    }

     @media only screen and (min-width:800px){
        .row #g_map{
        padding-left: 3vw; 
        padding-right: 3vw;
   }
     }    
</style>
<div id="contact" style="padding: 0 4rem 0 4rem; background:black; position: relative;">
    <div class="row">
                <div class="col l3 m12 s12">
                    <h4 style="white-space: nowrap;">UAS-DTU</h4>
                    <p class="text">A team of enthusiastic undergraduates, working to providing the solutions for urban surveillance needs. </p>
                        <div class="logos">
                            <a href="https://www.facebook.com/uas.dtu/" target="blank"><i class="fab fa-facebook-square fa-2x"></i></a>
                            <a href="https://in.linkedin.com/company/uas-dtu" target="blank"><i class="fab fa-linkedin fa-2x"></i></i></a>
                            <a href="https://www.youtube.com/channel/UCmOV4uiBHoHzf5ZrE1z6WQg" target="blank"><i class="fab fa-youtube fa-2x"></i></a>
                            <a href="https://www.instagram.com/uasdtu/" target="blank"><i class="fab fa-instagram fa-2x"></i></i></a>
                        </div>
                </div>
               
                <div class="col l6 m12 s12" id="g_map">
                    <h4 class="map">Map help:</h4>
                    <div style="overflow: hidden;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.027403024808!2d77.11499645105123!3d28.748598782285452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d01270184b37d%3A0x31d84edc5468f356!2sUAS+DTU!5e0!3m2!1sen!2sin!4v1516991611933" frameborder="0" style="border:0; width:35rem;height:10.5rem;" ></iframe>
                    </div>
                        
                </div>
                 
                <div class="col l3 m12 s12">
                    <h4>Reach us at:</h4>
                    <p class="text">LW2FF1, Delhi Technological University, Delhi - 110042</p>
                    <p id="phone1"><i class="fas fa-phone-alt"></i> +91-8800712060</p>
                    <p><i class="fas fa-phone-alt"></i> +91-9873106343</p>
                    <p><i class="fas fa-envelope"></i> uas.dce@gmail.com</p>
                </div>
            </div>
        </div>
        
    </div>
    </section>    
</div>
</body>
</html>
